.book_details {
  align-items: center;
  font-size: var(--font-size-xl);
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &_title {
    font-size: var(--font-size-xxxxxl);
    font-weight: bold;
  }
  
  &_author {
    font-size: 1em;
  }
  
  &_description {
    background-color: var(--color-n-background);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    border: 1px solid #ccc;
    font-size: var(--font-size-xl);
    padding: var(--space-l);
  }

  // future actions include adding to user library/bookshelf
  &_actions {
    display: flex;
    justify-content: space-between;
    .btn {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}