.container {
  width: 100%;
  padding-right: var(--space-s);
  padding-left: var(--space-s);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(tabletAndUp) {
    padding-right: var(--space-xs);
    padding-left: var(--space-xs);
    max-width: 60rem;
  }
}