<div class="library">
  <%= link_to library_path(library) do %>
    <div class="library_name">
      <%= library.name %>
    </div>
  <% end %>

  <div class="num_of_books">
    Number of Books: <%= library.num_of_books %>
  </div>
  
  <div class="directions_link">
    <%= link_to "Get Directions", 
                "https://www.google.com/maps/dir/?api=1&destination=#{library.full_address}",
                target: "_blank",
                rel: "noopener noreferrer" %>
  </div>
</div>