<div class="welcome_description">
  BookHaven brings together book lovers and book sharers. Find a book you want to read, and borrow it from a free local little outdoor library near you.
  Here, you can explore and contribute to the inventory of free little neighborhood libraries all around the us. Stumble upon an little neighborhood 
  library that you don't find on our site? Add it to our database by taking a quick picture of the library and uploading it to our site.
  This space can also be used to keep track of all the books you have read, are currently reading, or want to read. So enjoy being outside and sharing books!
  Sign up or log in to get started!
</div>