<main class="welcome">
  <h1>Welcome to BookHaven!</h1>

  <div class="welcome__library">
    <img src="/library.png" alt="library" >  
  </div>
  <div class="welcome__grass">
    <img src="/grass.png" alt="Grass" >  
  </div>
</main>
