<main class="welcome">
  <div class="welcome_title">
    Welcome User!
  </div>
  <div class="welcome_actions">
    <%= render partial: "welcome/welcome_actions" %>
  </div>
  <img class="little_library" src="/library.png" alt="library" >  
  <img src="/grass.png" alt="Grass" class="grass_img" >  
</main>
