
<%= link_to "BookHaven", root_path, class: "app-name" %> 

<div class="tag-line">
  <h2>Find a Book, Share a Book!</h2>
</div>

<div class="app-description">
  <p>BookHaven brings together book lovers and book sharers.</p> 
  <p>Find a book you want to read, and borrow it from a free library near you!</p>
</div>

<%= link_to "Explore Libraries", libraries_path %>