.btn {
  display: inline-block;
  border-radius: var(--border-radius);
  background-origin: border-box; // Invisible borders with linear gradients
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    transition: filter 250ms, color 200ms;
  }

  // Modifiers will go there
  &--primary {
    padding: var(--space-xxs) var(--space-m);
    color: var(--color-light);
    box-shadow: var(--shadow-button);
    background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-rotate));

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
      filter: saturate(1.8) brightness(125%);
    }
  }

  &--secondary {
    padding: var(--space-xxs) var(--space-m);
    color: var(--color-light);
    background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary-rotate));

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
      filter: saturate(1.8) brightness(150%);
    }
  }

  &--light {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    color: var(--color-dark);
    box-shadow: var(--shadow-button);
    background-color: var(--color-background-light);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-dark);
      filter: brightness(75%);
    }
  }

  &--dark {
    padding: var(--space-xxs) var(--space-m);
    color: var(--color-primary-dark);
    box-shadow: var(--shadow-button);
    background-image: linear-gradient(to right, var(--color-glint), var(--color-primary-light));
    
    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-primary-dark);
      filter: saturate(1) brightness(125%);
    }
  }
  
  &--cancel {
    height: 45px;
    width: 45px;
    padding-bottom: var(--space-xxs);
    color: var(--color-light);
    background-color: var(--color-background-light);
    border: solid 0px transparent;
    border-radius: .75rem;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      filter: saturate(1.2) brightness(70%);
      content: "cancel";
    }
  }
  
  &--submit {
    height: 45px;
    width: 45px;
    color: rgb(105, 167, 12);
    background-color: var(--color-background-light);
    border: solid 0px transparent;
    border-radius: .75rem;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      filter: saturate(1.2) brightness(70%);
      content: "cancel";
    }
  }
  
  &--welcome {
    text-align: center;
    padding: var(--space-xs) var(--space-m);
    font-size: var(--font-size-xxl);
    color: var(--color-logo-brown);
    box-shadow: var(--shadow-button);
    background-image: linear-gradient(to right, var(--color-n-background-dark), var(--color-n-background));
    
    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-primary-dark);
      filter: saturate(1) brightness(110%);
    }
  }
}